<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Album Collection - Add Album</title>
</head>

<body>
    <h2>Album was successfully deleted</h2>
    <a href="/albums">Return to All Albums</a>
</body>

</html>